.footer {
    border-top: 4px solid var(--main-color);
    padding-top: 12px;
    background-color: var(--white-color);
    margin-top: 50px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    color: #737373;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 4px 0;
    max-width: 150px;
}

.footer-item__link:hover {
    color: var(--main-color);
}

.footer-icon {
    font-size: 1.6rem;
    margin-right: 4px;
}

.footer-download {
    display: flex;
}

.footer-download__qr-img {
    width: 80px;
    height: 80px;
}

.footer-download__app {
    width: 110px;
}

.footer-download__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}